/*.toolbar {
    position: absolute;
    overflow: hidden;
    padding: 2px;
    left: 0px;
    top: 26px;
    width: 24px;
    bottom: 0px;
}*/


/*.canvas {
    position: absolute;
    overflow: hidden;
    left: 24px;
    top: 26px;
    right: 0px;
    bottom: 0px;
    background: url("js/lib/images/grid.gif");
}*/

/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background-color: transparent;
}

/* Style links on mouse-over */
.sidebar button:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar button {font-size: 18px;}
}

.body .button {
    display: none;
    cursor: pointer
}

.body.highlighted .button{
    display: inline;
}

.menu {
  width: 170px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  background-color: white;
  display: none;
  z-index: 999;
}


.menu .menu-options {
    list-style: none;
    padding: 0px 10px 0px 10px;
}

.menu .menu-options .menu-option {
    font-weight: 500;
    font-size: 14px;
    padding: 10px 40px 10px 20px;
    cursor: pointer;
}

.menu .menu-options .menu-option:hover {
    background: rgba(0, 0, 0, 0.2);
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-input {
    margin: 5px;
}

.submit-elementModal{
    margin: 5px;
}

.submit-nsModal{
    margin: 5px;
}

.html-element {
    position: absolute;
    background: yellow;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    border-radius: 4px;
    border: 2px solid black;
    /*box-shadow: inset 0 0 5px black, 2px 2px 1px gray;*/
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .html-element select,
    .html-element input,
    .html-element button {
        /* Enable interacting with inputs only. */
        pointer-events: auto;
    }

        .html-element button.delete {
            color: white;
            border: none;
            background-color: #C0392B;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            line-height: 15px;
            position: absolute;
            top: -15px;
            left: -15px;
            padding: 0;
            margin: 0;
            font-weight: bold;
            cursor: pointer;
        }

            .html-element button.delete:hover {
                width: 20px;
                height: 20px;
                line-height: 20px;
            }

    .html-element select {
        position: absolute;
        right: 2px;
        bottom: 28px;
    }

    .html-element input {
        text-align: center;
        bottom: 0;
        left: 0;
        right: 0;
        border: none;
        color: #333;
        padding: 5px;
        height: 16px;
        background: transparent;
    }

    .html-element label {
        color: #333;
        text-shadow: 1px 0 0 lightgray;
        font-weight: bold;
    }

    .html-element span {
        position: absolute;
        top: 2px;
        right: 9px;
        color: white;
        font-size: 10px;
    }