.toolbar {
    position: absolute;
    overflow: hidden;
    padding: 2px;
    left: 0px;
    top: 26px;
    width: 24px;
    bottom: 0px;
}

.canvas {
    position: absolute;
    overflow: hidden;
    left: 24px;
    top: 26px;
    right: 0px;
    bottom: 0px;
    background: url("js/lib/images/grid.gif");
}